# dependencies
node_modules/

# builds
dist/
.next/
build/

# env (keep .env.example)
.env
apps/api/.env
apps/web/.env*
apps/mobile/.env*

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

.expo/

